body {
    background-color: #530606;
    color: #e2e8f0;
    font-family: 'Mountains of Christmas';
}

.container {
    font-size: 5rem;
    text-align: center;
}

.timeStamp {
    color: #f1f5f9;
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: 5rem;
}

.backgroundImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.fa-snowflake{
    animation: fall 10s linear forwards;
    color:beige;
    position:absolute;
    top: -100px;
}

@keyframes fall {
    to{
        transform: translateY(125vh);
    }
}